@model ADVYTEAM.Presentation.Models.SurveyVM
@using ADVYTEAM.Domain.Entities;


@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Survey of  @Html.DisplayFor(model => model.employee_Name) ( @Html.DisplayFor(model => model.date) /   @Html.DisplayFor(model => model.duree)  jours)</h4>
    <hr />
    <dl class="dl-horizontal">
        @{int i = 1;}
        @foreach (var std in ViewData["questions"] as IList<SurveyQuestion>)
        {
            <dd>Question  @i :</dd>
            <dt>
                @std.question
            
            </dt>
           <p style="font-size:12px"> @Html.ActionLink("View stats", "StatByQuestion", new { questid = std.id }) </p>

            i = i + 1;

            <hr />
        }

    </dl>
</div>
<p>
    @Html.ActionLink("Back to List", "Index")
</p>

