@model ADVYTEAM.Presentation.Models.oubliePass

@{
    ViewBag.Title = "newPassword";
    Layout = "~/Views/Shared/_LayoutLogin.cshtml";
}

<div class="limiter">
    <div class="container-login100">
        <div class="wrap-login100">

            @using (Html.BeginForm("changerPassword", "Login"))
            {
                @Html.AntiForgeryToken()
            <div class="login100-form validate-form">         
                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">

                    @Html.EditorFor(model => model.email, new { htmlAttributes = new { @class = "input100" } })
                    <span class="focus-input100"></span>
                    
                </div>


                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">

                    @Html.EditorFor(model => model.Code, new { htmlAttributes = new { @class = "input100" } })
                    <span class="focus-input100"></span>
                    <span class="label-input100">Code</span>
                </div>

                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">

                    @Html.EditorFor(model => model.password, new { htmlAttributes = new { @class = "input100" } })
                    <span class="focus-input100"></span>
                    <span class="label-input100">Nouveau mot de passe </span>
                </div>


                <div class="wrap-input100 validate-input" data-validate="Valid email is required: ex@abc.xyz">

                    @Html.EditorFor(model => model.confpassword, new { htmlAttributes = new { @class = "input100" } })
                    <span class="focus-input100"></span>
                    <span class="label-input100">Confirmer mot de passe</span>
                </div>
  
                <div class="container-login100-form-btn">

                    <input type="submit" value="changer mot de passe" class="login100-form-btn" />
                </div>


            </div>




            }


            <div class="login100-more" style="background-image: url('../../Content/images/bg-01.jpg');">
            </div>
        </div>
    </div>

</div>