@model IEnumerable<ADVYTEAM.Presentation.Models.QuizSessionVM>

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.question)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.response)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasNext)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HasPrevious)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.question)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.response)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasNext)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.HasPrevious)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |
            @Html.ActionLink("Delete", "Delete", new { /* id=item.PrimaryKey */ })
        </td>
    </tr>
}

</table>
